@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.logo, #bottom-nav>ul{
    height: 4rem;
}

nav{
    padding: 0 2rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

#top-nav{
    border-bottom: 2px solid #eee
}
.d-flex{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.justify-between{
    justify-content: space-between;
}

#left-nav li:last-child, #bottom-nav>ul li:first-child{
    color: #ff764d;
}

#right-nav li:first-child{
    color:#0000ff;
}

#right-nav li:last-child, #bottom-nav{
    font-size: .875rem;
}
