@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

.logo, #bottom-nav>ul{
    height: 4rem;
}

nav{
    padding: 0 2rem;
    font-weight: 500;
}

#top-nav{
    border-bottom: 2px solid #eee
}
.d-flex{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.justify-between{
    justify-content: space-between;
}

#left-nav li:last-child, #bottom-nav>ul li:first-child{
    color: #ff764d;
}

#right-nav li:first-child{
    color:#0000ff;
}

#right-nav li:last-child, #bottom-nav{
    font-size: .875rem;
}

.main-img{
    position: relative;
}

.main-img img{
    display: block;
    height: calc(100vh - 8rem);
    width: 85%;
    margin: auto;
    object-fit: cover;
}

.main-img p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FD5948;
    font-weight: 500;
    font-size: 7rem;
}

.text{
    padding: 7rem 20rem;
    line-height: 1.5;
}

.text h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.text h1 a{
    text-decoration: none;
    color: #0000ff;
}

.text p{
    font-weight: 400;
}

.photo{
    position: relative;
}

.photo-products > div{
    display: inline-block;
    position: absolute;
    background-color: #FBFFA7;
    width: 58vw;
    height: 58vw;
    right: 0;
    z-index: -1;
}
.photo img{
    object-fit: cover;
}

.photo-products img:first-child{
    position: absolute;
    width: 42vw;
    height: 42vw;
    margin: 0 8vw;
    top: calc((58vw - 42vw)/2);
    z-index: 1;
}

.photo-products img:last-child{
    width: 33vw;
    height: 25vw;
    position: absolute;
    top: calc((58vw - 25vw)/2);
    left: 58vw;
}

.clear{
    height: 58vw;
}

.photo-lecture{
    background-color: #B6FFC0;
    height: 75vw;
    width: 58vw;
    left: 0;
}

.first-img, .second-img, .third-img{
    position: absolute;
}

.first-img{
    top: calc(25vw/3);
}

.second-img{
   top:calc(50vw/3 + 25vw);
}


.first-img, .second-img{
    width: 33vw;
    height: 25vw;
    left: 8vw;
}

.third-img{
    width: 42vw;
    height: 42vw;
    top: calc((75vw - 42vw)/2);
    left: calc(16vw + 33vw);
}

.page-img{
    margin: 0 8vw;
}

.page-img img{
    margin: auto;
    max-width: 100%;
}

.photo-classroom{
    background-color: #D5B3FF;
    width: 67vw;
    height: 58vw;
    left: 17vw;
}

.photo-classroom img:first-child{
    position: absolute;
    width: 33vw;
    height: 25vw;
    left: -8vw;
    top: calc((58vw - 25vw)/2);
}

.photo-classroom img:last-child{
    position: absolute;
    top: 8vw;
    right: -14.9vw;
    width: 38vw;
    height: 42vw;
}